*{
    margin:0;
    padding:0;
}

body{
    background-image:url("https://images.pexels.com/photos/167762/pexels-photo-167762.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    color:white;
    text-align:center;
}

.content{
    background-color:#6a7484;
    width:655px;
    margin:auto;
    text-align:center;
}

.menu{
    text-align:center;
    z-index:1000;
    font-family:georgia, serif;
    color:white;
}

.dropbtn {
    background-color:#E64A19;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.submenu{
    display: none;
    position: absolute;
    background-color: #E64A19;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.submenu a:hover {background-color: #212121}

.dropdown:hover .submenu {
    display: block;
}

.menu{
    background-color:#E64A19;
}

.dropbtn:hover {
    background-color:#212121;
}

.ebusbutton{
    border:2px;
    border-radius:10px;
    background-color:#E64A19;
    color:white;
    width:200px;
    height:40px;
}

a{
    color:white;
    text-decoration:none;
}