*{
    margin:0;
    padding:0;
}

html,body{
    width:100%;
    height:100%;
}

.mainheading{
    text-align: center;
    color: white;
    
}
    
.homebody {
    background-image: url("https://images.pexels.com/photos/167762/pexels-photo-167762.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

.cvcontent {
    text-align:center;
    color:white;
    z-index: -1;
    position:relative;
    
}

.interestsbody {
    background-image: url("https://images.pexels.com/photos/399973/pexels-photo-399973.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

.menu{
    text-align:center;
    z-index:1000;
}

ul {
    margin:0px;
    padding:0px;
    text-align:center;
    z-index:1000;
    display:inline;
    position:relative;
}
ul li {
  background-color:black;
    border:1px solid white;
    width:126px;
    height:30px;
    line-height:30px;
    display:inline-block;
    text-align:center;
    list-style:none;
    z-index:1000;
    position:relative;
}
ul li a {
    color:white;
    text-decoration:none;
    display:block;
    z-index:1000;
    text-decoration:none
    position:relative;
}
ul li a:hover {
    background-color:silver;
    z-index:1000;
    text-decoration:none;
    color:white;
    position:relative;
}
ul li ul li {
    display:none;
    z-index:1000;
    position:relative;
}
ul li:hover ul li {
    display:block;
    z-index:1000;
    position:relative;
}