
a{
    text-decoration:none;
    color:white
}



.menu{
    text-align:center;
    z-index:1000;
    font-family:georgia, serif;
}

.mainheading{
    text-align: center;
    color: white;
    background-color:black;
}

.dropbtn {
    background-color:#E64A19;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.submenu{
    display: none;
    position: absolute;
    background-color: #E64A19;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000;
}

.submenu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index:100;
}

.submenu a:hover {background-color: #212121}

.dropdown:hover .submenu {
    display: block;
}

.menu{
    background-color:#E64A19;
    z-index:100;
}

.dropbtn:hover {
    background-color:#212121;
}

.dropbtn {
    background-color:#E64A19;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.submenu{
    display: none;
    position: absolute;
    background-color: #E64A19;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:100;
}

.submenu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.submenu a:hover {background-color: #212121}

.dropdown:hover .submenu {
    display: block;
}

.menu{
    background-color:#E64A19;
}

.dropbtn:hover {
    background-color:#212121;
}



#section1{
    background-image: url("https://images.pexels.com/photos/167762/pexels-photo-167762.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    color:white;
    background-repeat:no-repeat;
    background-size:cover;
    display:inline-block;
    height:-90%;
}

#section2{
    background-image:url("https://images.pexels.com/photos/417045/pexels-photo-417045.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    color:#022175;
    background-repeat:no-repeat;
    background-size:cover;
}

#section3{
    color:#022175;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url("https://images.pexels.com/photos/231009/pexels-photo-231009.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");

}

#section4{
   color:#022175;
   background-image:url("https://images.pexels.com/photos/37728/pexels-photo-37728.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-repeat:no-repeat;
    background-size:cover;
}

#section5{
    color:#022175;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url("https://images.pexels.com/photos/314726/pexels-photo-314726.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.section{
    text-align: center;
    font-family:Georgia, Serif;
    z-index:1;
}

h2 {
    color:white;
}

ul li {
    padding-left:1em;
    list-style:circle outside;
}

p{
    border:white;
}





