#section1{
    background-image: url("https://images.pexels.com/photos/433935/pexels-photo-433935.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

#section2{
    background-image: url("https://images.pexels.com/photos/734102/pexels-photo-734102.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

#section3{
    background-image: url("https://images.pexels.com/photos/62262/pexels-photo-62262.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

.section{
    text-align: center;
    color:white;
}